body{
    margin: 0;
    text-align: center;
   
}
h1{
    margin:50px auto 0 auto;
    
    line-height: 2;
    
    

}
h2{
    color: #11999e;
}
h3{
    color: #66bfbf;
}
p{
    margin: auto;
    width: 30%;
    line-height: 2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: auto;
}
.web{
    text-decoration:underline ;
}
.top-container{
    width: 100%;
    height: 720px;
    background-color: #66bfbf;
    font-family: papyrus,fantasy,sans-serif;
    margin: 0;

}
.top-cloud{
    position:relative;
    left: 400px;
    top: 100px;
}
.bottom-cloud{
    position:absolute;
    left: 100px;
    bottom: 200px;
}
.land{
    position: relative;
    top: 170px;
    
}
.profile{
    padding-top: 15px ;
}

/* .middle-container{
    width: 100%;
    height: 300px;

} */

#learning{
    /* width: 90%;
    height: 250px; */
   
    padding:10px 20px;
}
.skill1{
    width: 100px; 
    padding-top: 40px; 
    padding-left: 30px; 
}
.skill2{
    width: 100px;
    padding-left: 30px; 
}
.skill3{
    width: 100px;
    padding-left: 30px; 
}
.skill4{
    width: 100px;
    padding-left: 30px; 
}
.development{
    width: 100%;
    height:250px;
    padding-top: 20px;
    text-align: left;
    
   
}
.skillss{
    width: 15%;
    margin: auto 100px auto 400px;
    float: left;
}
#id{
    padding-top: 20px;
}
.disc{
    margin-left: 800px;
}
.contact-me{
    padding-bottom: 10px;
    text-align:center;
    
}

.btn{
       
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        border-radius: 8;
        padding: 5px;
      
}
.btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }
.bottom-container{
    background-color: #11cdd4;
    height: 100%;
    margin-top: 20px;
    
}
.footer{
    margin-bottom: 30px;
    padding-top: 30px;
    
    padding-right: 30px;
}
.credit{
    color: #eaf6f6;
   padding-top: 
}
.flat{
    color: #eaf6f6;
    text-decoration: none;
}